{{!-- For the left side with results --}}
<head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
        crossorigin="anonymous">
</head>
<style>
{{!-- Default page style --}}
    * {
        font-family: sans-serif, 'Roboto', helvetica, arial;
    }

    body {
        background-color: #eee;
        font-family: sans-serif;
    }

    p {
        font-family:sans-serif, 'Roboto', helvetica, arial;
    }



    .dropdown:hover .dropdown-menu {
        display: block;
        min-width: 300px;
    }

    .main-header {
        padding-top: 100px;
        position: relative;
        font-size: 25px;

        /* The image used */
        background-image: url(https://images.unsplash.com/photo-1502786403187-735311c54e9d?ixlib=rb-0.3.5&s=07c480f04fe20dd167072aad51961499&auto=format&fit=crop&w=2850&q=80);

        /* Full height */
        height: 100%; 
        height: 702px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    /* Landing header */

    #landing-header {
        padding-top: 200px;
        padding-bottom: 20px;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,0.6);
        font-family: sans-serif, 'Roboto', helvetica, arial;
        text-align: center;
        font-weight: 600;
        font-size: 55px;
    }

    #landing-input{
        font-family: sans-serif, 'Roboto', helvetica, arial;
        border: none;
        border-radius: 25px;
        padding: 5px;
        width: 450px;
        height: 50px;
        font-size: 18px;
        padding-left: 10px;
        opacity: 0.8
    }

    #landing-input input::placeholder {
        color: #777;
        text-align: left;
        font-size: 18px
    }

    /* Main Content */
    .main-content {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    /* Navbar */
    .navbar, .navbar-brand a{
        color: #777;
    }

    .navbar {
        height: 50px;
        position: relative;
    }

    a:hover {
        text-decoration: none;
        color: #777;
    }

    /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */

    /* Optional: Makes the sample page fill the window. */
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }

    /* Results page with map  */
    #results-content {
        background-color: #eee;
        position: absolute;
        width: 560px;
        top: 62px;
        left: 0;
        bottom: 0;
        overflow: hidden;
    }

    .slide-pane {
        width: 560px;
        position: absolute;
        top: 0;
        bottom: 0;
        transition: left 0.35s;
    }

{{!-- Results page style --}}


        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
            width: 60%;
            float: right;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #info {
            height: 100%;
            width: 40%;
            float: left;
            background-color:#f8f9fa;
            border-right: 1px solid #eeeeee; 
            overflow-y: scroll;
            margin-bottom: 30px;
        }

        #filters {
            background-color: #f8f9fa;
            font-weight: bolder;
        }

        #results {
            padding-top: 25px;
        }

        .dropdown a{
            color: #777;
        }

        .card-img {
        object-fit: cover;
        object-position: 100% 0;
        width: auto;
        height: 200px;
        opacity: 0.6;
        }

        .card-title {
        text-shadow: 0 1px 1px rgba(0,0,0,0.6);
        font-weight: lighter;
        text-align: left;
        font-size: 30px;
        }

        .card-text p{
        padding-top: 10px;
        font-size: 12px;
        font-weight: lighter;


        }

        .card {
        height: 300px auto;
        margin-bottom: 25px;
        background-color: #000;
        border: none;
        }

        .options-card {
        position: center;
        margin: 15px;
    }



</style>
    <header>
        <nav class="navbar navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">
                <img src="http://www.myiconfinder.com/uploads/iconsets/256-256-89fdce5084dbe77556cf99f7b22ae7e8-pin.png" width="30" height="30"
                    alt="">stuff-to-do</a>
            <a class="navbar" data-toggle="modal" data-target="#myModal" href="#">Register | Log in</a>
        </nav>


        <!-- Large modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs login-modal">
                                    <li class="active login-1">
                                        <a href="#Login" data-toggle="tab">Login</a>
                                    </li>
                                    <span class="login-1">|</span>
                                    <li>
                                        <a href="#Registration" data-toggle="tab">Registration</a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="Login">
                                        <form role="form" class="form-horizontal">
                                            <div class="form-group">
                                                <label for="email" class="col-sm-2 control-label">
                                                    Email</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="email1" placeholder="Email" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="col-sm-2 control-label">
                                                    Password</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col-sm-10">
                                                    <button type="submit" class="btn btn-primary btn-sm">
                                                        Submit</button>
                                                    <a href="javascript:;">Forgot your password?</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="Registration">
                                        <form role="form" class="form-horizontal">
                                            <div class="form-group">
                                                <label for="email" class="col-sm-2 control-label">
                                                    Name</label>
                                                <div class="col-sm-10">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <select class="form-control">
                                                                <option>Mr.</option>
                                                                <option>Ms.</option>
                                                                <option>Mrs.</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" placeholder="Name" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="col-sm-2 control-label">
                                                    Email</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="email" placeholder="Email" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="col-sm-2 control-label">
                                                    Password</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" id="password" placeholder="Password" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="col-sm-6 control-label">
                                                    Confirm Password</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" id="repeat-password" placeholder="Password" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col-sm-10">
                                                    <button type="submit" class="btn btn-primary btn-sm" id="register-submit">
                                                        Save & Continue</button>
                                                    <button type="button" class="btn btn-default btn-sm">
                                                        Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="OR" class="hidden-xs">
                                    OR</div>
                            </div>
                            <div class="col-md-4">
                                <div class="row text-center sign-with sign-with-2">
                                    <div class="col-md-12">
                                        <h3>
                                            Sign in with</h3>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="btn-group btn-group-justified">
                                            <a href="#" class="btn btn-primary" id="facebook">Facebook</a>
                                            <a href="#" class="btn btn-danger" id="google">
                                                Google</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </header>


{{!-- Right side --}}
<div id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="filters">
                    {{#each events}}
                        <div class="options-card card bg-dark text-white" data-id="{{ id }}">
                            <img class="card-img" src="{{ urlPhoto }}" alt="Card image cap">
                            <div class="card-img-overlay">
                                <h5 class="card-title align-left">{{ name }}</h5>
                                <p class="card-text"><i class="fas fa-map-pin"></i> {{ city }}</p>
                                <p class="card-text"><i class="fas fa-calendar-alt"></i> {{ dateTime }}</p>
        
                                <button type="button" class="btn btn-info float-left" data-toggle="modal" data-target=".{{id}}">Info</button> 
                                <div class="modal {{id}} fade {{id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                    <div class="modal-content text-dark">
                                       <div class="container">
                                           <div class="row">
                                               <div class="col-lg-12">
                                                <div class="modal-header">
                                                <div class="modal-title text-center display-3">
                                                {{ name }}
                                                </div>
                                                </div>
                                            <div class="modal-body">
                                            <p>Description: {{ description }}</p>
                                            <p>Location: {{ address }}, {{ city }}, {{state}}, {{zipCode}}</p>
                                            <p>Date/Time: {{ dateTime }}</p>
                                            <p>{{ upVotes }} people are interested in this event.</p>
                                            </div>

                                            </div>
                                        </div>
                                       </div>

                                    </div>
                                    </div>
                                </div>
                                
                                <a href="#" class="btn btn-danger float-right"><i class="fas fa-arrow-up"></i> {{ upVotes }}</a> 

                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Map --}}
<div id="map" style="overflow: hidden;"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../assets/js/results.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsfnjM905ho9lC-EwFVAI8oOUivynhT9g&callback=initMap">
</script>

